@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF5E4;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF5E4;

    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}

@keyframes squiggle {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.squiggle-animation {
  animation: squiggle 2s infinite linear;
}